/cache/
/dist/
/node_modules/
/native-cli/build/
/native-cli/tokenizer/target/
/native-cli/candle/target/
/native-cli/tests/.uninstall-*/
/native-cli/tests/.installation-*/
/native-cli/tests/.rollback-*/
/native-cli/tests/.setup-*/
*.log
.DS_Store
*.pem
*.key
